.container {
    margin-top: 5%;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.container-sm {
    margin-left: 27%;
}

.container-sm form{
    width: 50%;
}

input {
    margin-top: 2%;
}

::placeholder {
    text-align: center;
    font-weight: bold;
}

.btn-group {
    width: 80%;
}

button {
    margin-left: 25%;
}